* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
}
.conatiner-image{
    width: 60%;
    height: 100;
    background-color: antiquewhite;

}
.conatiner-image > img{
    width: 100%;
    height:100%;

}
.logo{
    height: 5%;
}
.login--form{
    background-color: #FDFDFD;
    width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

h1{
 margin-bottom: 20px;
}
#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label {
    font-size: 1rem;
    color: #333333;
    margin-left: -225px;
}
input, select {
    display: flex;
    height:11%;
    width: 150%;
    padding: 10px;
    background-color:#F2F2F2;    
    border-radius: 5px;
    font-size: 1rem;
    border-color: none;
    outline: none;

}
.btn{
    display: flex;
    height:11%;
    width: 150%;
    padding: 10px;
    background-color:#F2F2F2;    
    border-radius: 5px;
    font-size: 1rem;
    outline: none;

}
#login-btn{
    color:#F2F2F2;
    background-color: #235784;
}
#google-btn{
    margin-top: 25px;
    color:#F2F2F2;
    background-color: #333333;
}

